
body {
    background-color: gray;
    text-align: center;
    text-decoration: none;

}

p{ margin-bottom: 100px;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-right: 90px; 
    padding-left: 90px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

a { text-decoration: none; 
    text-align: center;
    font-size: 20px;
    font-family: "Bebas Neue";
    color: rgb(50, 49, 49);
    margin-bottom: 10px; 
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-right: 90px; 
    padding-left: 90px;

}

ul{ list-style: none;
    
}

ol{ list-style: none;

}

header{ border: solid #d2b48c7f; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin-bottom: 10px; 
    padding-top: 12px; 
    padding-bottom: 10px;
    padding-right: 15px; 
    padding-left: 15px;
    text-align: center;
    text-transform: uppercase;
    color:  rgb(50, 49, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d2b48c7f;

}

h2 { 
    margin-bottom: 10px; 
    padding-top: 12px; 
    padding-bottom: 10px;
    padding-right: 15px; 
    padding-left: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}