body {
    background-color: green;
    

}

header { 
    text-align: center;

}

h1 {
    margin-bottom: 10px; 
    padding-top: 12px; 
    padding-bottom: 10px;
    padding-right: 15px; 
    padding-left: 15px;
    border: 1px solid black; 
    text-align: center;
    text-transform: uppercase;
    background-color: #d2b48c7f;

}